<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Valentine Lav</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Drink your tea", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", new object { }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new object { }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Client", "ListeClients", "Client", new object { }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
    <div role="main" class="container body-content inner cover">
        <div class="container-fluid mx-auto">
            @RenderBody()
        </div>
    </div>
    <div class="mastfoot mt-auto fixed-bottom footer text-center">
        <div class="inner">
            <p>&copy; Valentine Lav @DateTime.Now.Year</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
